* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hide {
  display: none;
}
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline:after {
  content: "";
  display: table;
  clear: both;
}
.list-inline li {
  float: left;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.spacing-small {
  margin-bottom: 10px;
}
.spacing-medium {
  margin-bottom: 20px;
}
.spacing-large {
  margin-bottom: 40px;
}
.spacing-xlarge {
  margin-bottom: 60px;
}
.fluid-grid12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -20px;
}
.fluid-grid12:after {
  content: "";
  display: table;
  clear: both;
}
.fluid-grid12 [class*=column] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 20px;
}
.fluid-grid12 .column12 {
  width: 100%;
}
.fluid-grid12 .offset12 {
  margin-left: 100%;
}
.fluid-grid12 .column11 {
  width: 91.66666667%;
}
.fluid-grid12 .offset11 {
  margin-left: 91.66666667%;
}
.fluid-grid12 .column10 {
  width: 83.33333333%;
}
.fluid-grid12 .offset10 {
  margin-left: 83.33333333%;
}
.fluid-grid12 .column9 {
  width: 75%;
}
.fluid-grid12 .offset9 {
  margin-left: 75%;
}
.fluid-grid12 .column8 {
  width: 66.66666667%;
}
.fluid-grid12 .offset8 {
  margin-left: 66.66666667%;
}
.fluid-grid12 .column7 {
  width: 58.33333333%;
}
.fluid-grid12 .offset7 {
  margin-left: 58.33333333%;
}
.fluid-grid12 .column6 {
  width: 50%;
}
.fluid-grid12 .offset6 {
  margin-left: 50%;
}
.fluid-grid12 .column5 {
  width: 41.66666667%;
}
.fluid-grid12 .offset5 {
  margin-left: 41.66666667%;
}
.fluid-grid12 .column4 {
  width: 33.33333333%;
}
.fluid-grid12 .offset4 {
  margin-left: 33.33333333%;
}
.fluid-grid12 .column3 {
  width: 25%;
}
.fluid-grid12 .offset3 {
  margin-left: 25%;
}
.fluid-grid12 .column2 {
  width: 16.66666667%;
}
.fluid-grid12 .offset2 {
  margin-left: 16.66666667%;
}
.fluid-grid12 .column1 {
  width: 8.33333333%;
}
.fluid-grid12 .offset1 {
  margin-left: 8.33333333%;
}
.fluid-grid12.grid-pad {
  padding: 20px;
}
/*.oban-grid-debug();*/
.grid-border [class*=column] {
  position: relative;
}
.grid-border [class*=column]:before {
  position: absolute;
  left: 9.5px;
  width: 1px;
  height: 100%;
  background-color: #000000;
  content: '';
}
.grid-border [class*=column]:first-child:before {
  height: 0;
}
.grid-fixed {
  padding-left: 320px;
}
.grid-fixed .column-fixed {
  margin-left: -320px;
  width: 320px;
}
.grid-fixed-right {
  padding-right: 320px;
}
.grid-fixed-right .column-fixed {
  margin-right: -320px;
  width: 320px;
}
.grid-fixed-both {
  padding-left: 220px;
  padding-right: 220px;
}
.grid-fixed-both .column-left {
  margin-left: -220px;
  width: 220px;
}
.grid-fixed-both .column-right {
  margin-right: -220px;
  width: 220px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 38.5px;
  line-height: 50px;
}
h2 {
  font-size: 31.5px;
  line-height: 40px;
}
h3 {
  font-size: 24.5px;
  line-height: 40px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
p {
  margin: 0;
  line-height: 20px;
}
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 20px;
}
.message-error {
  background: #f2dede;
  border: 1px solid #e4b9b9;
  color: #712d2d;
  padding: 5px 10px;
}
.message-warning {
  background: #fcf8e3;
  border: 1px solid #f7ecb5;
  color: #9c8611;
  padding: 5px 10px;
}
.message-success {
  background: #dff0d8;
  border: 1px solid #c1e2b3;
  color: #3d6c2a;
  padding: 5px 10px;
}
.message-info {
  background: #f0f0f0;
  border: 1px solid #d7d7d7;
  color: #575757;
  padding: 5px 10px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.reset html,
.reset body,
.reset div,
.reset span,
.reset applet,
.reset object,
.reset iframe,
.reset h1,
.reset h2,
.reset h3,
.reset h4,
.reset h5,
.reset h6,
.reset p,
.reset blockquote,
.reset pre,
.reset a,
.reset abbr,
.reset acronym,
.reset address,
.reset big,
.reset cite,
.reset code,
.reset del,
.reset dfn,
.reset em,
.reset img,
.reset ins,
.reset kbd,
.reset q,
.reset s,
.reset samp,
.reset small,
.reset strike,
.reset strong,
.reset sub,
.reset sup,
.reset tt,
.reset var,
.reset dl,
.reset dt,
.reset dd,
.reset ol,
.reset ul,
.reset li,
.reset fieldset,
.reset form,
.reset label,
.reset legend,
.reset table,
.reset caption,
.reset tbody,
.reset tfoot,
.reset thead,
.reset tr,
.reset th,
.reset td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.reset body {
  line-height: 1;
  color: black;
  background: white;
}
.reset ol,
.reset ul {
  list-style: none;
}
.reset table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
.reset caption,
.reset th,
.reset td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.reset a img {
  border: none;
}
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
}
.btn-flat {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 12px;
  text-align: center;
  background-color: #34aadc;
  color: #ffffff;
  border: 1px solid #34aadc;
  border-radius: 5px;
}
.btn-flat:hover {
  text-decoration: none;
}
.btn-flat.hover,
.btn-flat:hover {
  color: #ffffff;
  background-color: #196d91;
  border: 1px solid #196d91;
}
.btn-flat.active,
.btn-flat:active {
  background-color: #196d91;
  border: 1px solid #196d91;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-gradient {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 12px;
  text-align: center;
  color: #000000;
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffcccccc', GradientType=0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.btn-gradient:hover {
  text-decoration: none;
}
.btn-gradient.hover,
.btn-gradient:hover {
  background: #e6e6e6;
}
.btn-gradient.active,
.btn-gradient:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.modal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  padding: 20px;
  top: 100px;
  left: 50%;
  z-index: 999;
  overflow: auto;
  width: 900px;
  margin: 0 0 0 -450px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}
.modal button.close {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  text-decoration: none;
  float: right;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.modal button.close:hover {
  text-decoration: none;
}
.modal button.close:hover {
  border: 1px solid #b2b2b2;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background-color: #000000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.arrow-top {
  position: relative;
}
.arrow-top:after,
.arrow-top:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-top:after {
  left: 50%;
  border-bottom-color: #cccccc;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-top:before {
  left: 50%;
  border-bottom-color: transparent;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-right {
  position: relative;
}
.arrow-right:after,
.arrow-right:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-right:after {
  left: 100%;
  top: 50%;
  border-left-color: #cccccc;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-right:before {
  left: 100%;
  top: 50%;
  border-left-color: transparent;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-left {
  position: relative;
}
.arrow-left:after,
.arrow-left:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-left:after {
  right: 100%;
  top: 50%;
  border-right-color: #cccccc;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-left:before {
  right: 100%;
  top: 50%;
  border-right-color: transparent;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-bottom {
  position: relative;
}
.arrow-bottom:after,
.arrow-bottom:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-bottom:after {
  top: 100%;
  left: 50%;
  border-top-color: #cccccc;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-bottom:before {
  top: 100%;
  left: 50%;
  border-top-color: transparent;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-border-top {
  border: 1px solid #000;
  position: relative;
}
.arrow-border-top:after,
.arrow-border-top:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-border-top:after {
  left: 50%;
  border-bottom-color: #cccccc;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-border-top:before {
  left: 50%;
  border-bottom-color: #000000;
  border-width: 11px;
  margin-left: -11px;
}
.arrow-border-right {
  border: 1px solid #000;
  position: relative;
}
.arrow-border-right:after,
.arrow-border-right:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-border-right:after {
  left: 100%;
  top: 50%;
  border-left-color: #cccccc;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-border-right:before {
  left: 100%;
  top: 50%;
  border-left-color: #000000;
  border-width: 11px;
  margin-top: -11px;
}
.arrow-border-left {
  border: 1px solid #000;
  position: relative;
}
.arrow-border-left:after,
.arrow-border-left:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-border-left:after {
  right: 100%;
  top: 50%;
  border-right-color: #cccccc;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-border-left:before {
  right: 100%;
  top: 50%;
  border-right-color: #000000;
  border-width: 11px;
  margin-top: -11px;
}
.arrow-border-bottom {
  border: 1px solid #000;
  position: relative;
}
.arrow-border-bottom:after,
.arrow-border-bottom:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  border: solid transparent;
}
.arrow-border-bottom:after {
  top: 100%;
  left: 50%;
  border-top-color: #cccccc;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-border-bottom:before {
  top: 100%;
  left: 50%;
  border-top-color: #000000;
  border-width: 11px;
  margin-left: -11px;
}
.size-test1 {
  width: 50px;
  height: 50px;
}
.size-test2 {
  width: 50px;
  height: 50px;
}
.bar {
  background-color: #366ba1;
  background-image: -moz-linear-gradient(top, #407fbf, #264c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#407fbf), to(#264c73));
  background-image: -webkit-linear-gradient(top, #407fbf, #264c73);
  background-image: -o-linear-gradient(top, #407fbf, #264c73);
  background-image: linear-gradient(to bottom, #407fbf, #264c73);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff407fbf', endColorstr='#ff264c73', GradientType=0);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  height: 50px;
}
.bar .title {
  color: #ffffff;
  font-size: 20px;
  line-height: 50px;
  padding: 0 20px;
}
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs li {
  float: left;
}
.tabs li {
  background: #f5f5f5;
  margin: 0 10px;
  margin-bottom: -1px;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 0 0;
}
.tabs li a {
  text-decoration: none;
}
.tabs .active {
  border-bottom: 1px solid #ffffff;
  background: #ffffff;
}
.warning,
.success,
.error {
  line-height: 30px;
}
.warning {
  background: #f9fad2;
  color: #888b0f;
}
.error {
  background: #f2dede;
  color: #712d2d;
}
.success {
  background: #dff0d8;
  color: #3d6c2a;
}
.form {
  color: #333333;
}
.form fieldset > p {
  font-size: 1.5em;
  margin: 0 0 15px 0;
}
.form div + p,
.form p + p {
  font-size: 0.9em;
  margin: 0;
}
.form div > p,
.form p + p {
  color: #808080;
}
.form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.form fieldset + fieldset {
  margin-top: 25px;
}
.form fieldset > div {
  margin: 10px 0;
}
.form fieldset > div label {
  margin: 0 0 3px 0;
}
.form fieldset > div > p {
  font-size: 0.8em;
  margin-top: 3px;
}
.form div + p,
.form label {
  display: block;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0;
}
.form label span {
  color: #cf5f5f;
}
.form div + p + div {
  margin-top: 3px;
}
.form input[type=checkbox] + label,
.form input[type=radio] + label {
  display: inline;
  font-weight: normal;
}
.form fieldset > div > input[type=text],
.form fieldset > div > input[type=password],
.form fieldset > div > input[type=email],
.form fieldset > div > input[type=url],
.form fieldset > div > textarea {
  font-size: 1em;
  border: 1px solid #999999;
  border-radius: 3px;
  background: #fcfcfc;
  padding: 5px;
  margin: 0;
}
.form fieldset > div > input[type=text],
.form fieldset > div > input[type=password],
.form fieldset > div > input[type=email],
.form fieldset > div > input[type=url],
.form fieldset > div > textarea,
.form fieldset > div > select {
  width: 80%;
  display: block;
}
.grid .fluid-grid12 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid .column-fixed div,
.grid div[class^=column] .name {
  padding: 10px 0;
  background: #ddd;
  border-radius: 5px;
  text-align: center;
}
.grid div[class^=column] div[class^=column] .name {
  background: #bbb;
}
.grid #wrapper {
  width: 900px;
  padding: 10px 0;
  margin: 0 auto;
  background: #f0f0f0;
}
.grid .btns {
  margin: 0 0 10px 10px;
}
.mobile .block {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  margin: 10px 0;
}
.mobile .block span {
  display: block;
  padding: 10px;
}
.mobile .visible [class*=show],
.mobile .hidden [class*=hide] {
  color: #3d6c2a;
  background: #dff0d8;
}
.mobile .show-tiny,
.mobile .show-small,
.mobile .show-medium,
.mobile .show-large {
  display: none !important;
}
@media (max-width: 768px) {
  .mobile .show-tiny {
    display: block !important;
  }
  .mobile .hide-tiny {
    display: none !important;
  }
  .mobile .grid-stacked-tiny [class*=column] {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .mobile .show-small {
    display: block !important;
  }
  .mobile .hide-small {
    display: none !important;
  }
  .mobile .grid-stacked-small [class*=column] {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mobile .show-medium {
    display: block !important;
  }
  .mobile .hide-medium {
    display: none !important;
  }
  .mobile .grid-stacked-medium [class*=column] {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .mobile .show-large {
    display: block !important;
  }
  .mobile .hide-large {
    display: none !important;
  }
}
